EasyDict==1.7
opencv-python==3.4.1.15
shapely==1.6.4
Cython==0.29.14
Pillow==6.2.2
mmcv>=0.2.10
scipy==1.4.1
pandas==0.25.3
PyYAML==5.3
json_tricks==3.13.5
scikit-image==0.16.2
yacs>=0.1.5
tensorboardX==1.6
torch==1.0.1
torchvision==0.2.1
